.img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.img-container {
  flex-grow: 1;
  display: flex;
  justify-content: center; /* default alignment */
  align-items: center; /* align vertically in the middle */
}

.img-container img {
  width: auto;
  height: auto;
}

.img-container img.align-left {
  margin-right: auto;
}

.img-container img.align-center {
  margin-left: auto;
  margin-right: auto;
}

.img-container img.align-right {
  margin-left: auto;
}


.img-wrapper .buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0; /* Initially set opacity to 0 to hide the buttons */
  transition: opacity 0.3s ease; /* Add a transition effect for smooth visibility */
}

.img-wrapper:hover .buttons {
  opacity: 1; /* Show the buttons when hovering over the .img-wrapper */
}
