.editor-btn {
  width: 35px;
  height: 35px;
  font-size: 1rem;
  background: #e4e4e4;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  transition: background 0.3s ease;
}

/* Add margin to the icon inside the button */
.editor-btn i {
  margin: 0;
}

.editor-btn:hover {
  background: #636363;
  color: #fff;
}

.editor-btn i {
  font-size: 16px;
}

.button-group > * {
  margin-right: 7px;
  margin-bottom: 10px;
}

.editor-btn img {
  width: 22px;
  height: 22px;
}

.editor-btn:hover img {
  filter: brightness(0) invert(1);
}

