.button-group {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

.button-group > * {
  margin-right: 10px;
  white-space: nowrap;
}

.button-group.row {
  flex-direction: row;
}

.button-group.column {
  flex-direction: column;
}
.button-sub-group {
  display: flex;
  margin-right: 10px;
}

.button-sub-group > * {
  margin-right: 5px;
}
