<div class="button-group" [ngClass]="{'row': !isScrolling, 'column': isScrolling}">


  <div class="button-sub-group">
    <app-editor-button (onClick)="editorButtonService.applyHeading(editor, 1)"
      imagePath="../assets/icons8-h1-30 (1).png"></app-editor-button>
    <app-editor-button (onClick)="editorButtonService.applyHeading(editor, 2)"
      imagePath="../assets/icons8-h2-30.png"></app-editor-button>
    <app-editor-button (onClick)="editorButtonService.applyHeading(editor, 3)"
      imagePath="../assets/icons8-h3-30.png"></app-editor-button>

    <app-editor-button (onClick)="editorButtonService.applyBlockquote(editor)"
      iconClass="fas fa-quote-left"></app-editor-button>
    <app-editor-button (onClick)="editorButtonService.addMark(editor)"
      iconClass="fas fa-highlighter"></app-editor-button>
      <app-editor-button (onClick)="editorButtonService.addCustoMark(editor)"
      iconClass="fas fa-highlighter"></app-editor-button>
      <app-editor-button (onClick)="editorButtonService.addCustoMark2(editor)"
      iconClass="fas fa-highlighter"></app-editor-button>
    <app-editor-button (onClick)="editorButtonService.applyCodeBlock(editor)"
      iconClass="fas fa-code"></app-editor-button>
    <app-editor-button (onClick)="editorButtonService.applyImage(editor, modalService)"
      iconClass="fas fa-image"></app-editor-button>
    <app-editor-button (onClick)="editorButtonService.applyLink(editor, modalService, message)"
      iconClass="fas fa-link"></app-editor-button>
    <app-editor-button (onClick)="editorButtonService.applyBold(editor)" iconClass="fas fa-bold"></app-editor-button>
    <app-editor-button (onClick)="editorButtonService.applyItalic(editor)"
      iconClass="fas fa-italic"></app-editor-button>
    <app-editor-button (onClick)="editorButtonService.applyBulletList(editor)"
      iconClass="fas fa-list-ul"></app-editor-button>
    <app-editor-button (onClick)="editorButtonService.applyOrderedList(editor)"
      iconClass="fas fa-list-ol"></app-editor-button>
    <app-editor-button (onClick)="editorButtonService.addVideo(editor, modalService)"
      iconClass="fas fa-video"></app-editor-button>
    <app-editor-button (onClick)="editorButtonService.applyTable(editor, modalService, message)"
      iconClass="fas fa-table"></app-editor-button>
    <app-editor-button (onClick)="editorButtonService.goBack(editor)" iconClass="fa fa-undo"></app-editor-button>
    <app-editor-button (onClick)="editorButtonService.goForward(editor)" iconClass="fa fa-redo"></app-editor-button>
  </div>
</div>